{% extends "layout.html" %}
{% block body%}
<style>
.chart {

}

.main text {
    font: 10px sans-serif;	
}

.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}

circle {
    fill: steelblue;
}

</style>
        <script type="text/javascript" src="http://mbostock.github.com/d3/d3.v2.js"></script>
        <br>
        <br>
        <div class='content'>
          <!-- /the chart goes here -->
        </div>
        <h2>Deadlift vs Totals in (Kg)</h2>
        <script type="text/javascript" src= {{ url_for('static', filename= 'js/deadlift_total.js') }}></script>
        <h3>Y axis is percentage of total lift that is an athlete's deadlift</h3>
        <h3>X axis is the total lift of each athlete in Kg</h3>

{% endblock %}