{% extends "layout.html" %}
{% block body %}
<br>
<br>
<br>
<script src="/js/profile.js"></script>
<div class="container">
  <form action="" method=post class="form-horizontal">
    <h2>Profile For {{username}}</h2>
    <div class="control-group">
        <div class="controls">
          <p> Your username is {{username}}!</p>
        </div>
    
    {% if error %}
    <div class="alert alert-danger fade in">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Error!</strong> {{ error }}
    </div>
    {% endif %}

    {% if success %}
    <div class="alert alert-success fade in">
    <a href="#" class = "close" data-dismiss="alert">&times;</a>
  	<strong>Success!</strong> {{success}}
	</div>
    {% endif %}
    <h3>Add Lift</h3>
   <form action = "/" method=post>
  <div class="form-group">
    <label for="squat">Squat</label>
    <input type="squat" class="form-control" id="squat" name="squat">
  </div>
  <div class="form-group">
    <label for="bench">Bench Press</label>
    <input type="bench" class="form-control" id="bench" name="bench">
  </div>
  <div class="form-group">
    <label for="deadlift">Deadlift</label>
    <input type="deadlift" class="form-control" id="deadlift" name="deadlift">
  </div>
  <div class="form-group">
    <label for="weight">Enter Weight</label>
    <input type="weight" class="form-control" id="weight" name="weight">
  </div>
    <div class="checkbox">
    <label><input type="checkbox" id="is_lbs" name="is_lbs">In Pounds?</label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
    </div>
</div>

<div class="container">
  <h2>Your Lifts</h2>
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Bodyweight</th>
        <th>Bench (kg)</th>
        <th>Squat (kg)</th>
        <th>Deadlift (kg)</th>
        <th>Total (kg)</th>
      </tr>
    </thead>
    <tbody>
    	{% for x in user_lifts %}
      <tr>
      	<td>{{ x.date }} </td>
        <td>{{ x.bodyweight_kg }}</td>
        <td>{{ x.bench_kg }}</td>
        <td>{{ x.squat_kg }}</td>
        <td>{{ x.deadlift_kg }}</td>
        <td>{{ x.total_kg }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>
{% endblock %}